<article
  class="app-container"
  [class.theme1]="theme1"
  [class.theme2]="theme2"
  [class.theme3]="theme3"
>
  <section class="calculator-container">
    <div class="themes-container">
      <div class="title-calc">
        <span>calc</span>
      </div>
      <div class="themes">
        <div class="numbers-themes">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
        <div class="slide-themes">
          <span>THEME</span>
          <div class="slide" (click)="change()">
            <div class="button-theme1"></div>
            <div class="button-theme2"></div>
            <div class="button-theme3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="calculator">
      <div class="result-container">{{result}}</div>
      <div class="buttons-container">
        <div class="buttons1">
          <div class="{{ key.class }}" *ngFor="let key of keys" (click)="calculate(key.key)">
            {{ key.key }}
          </div>
        </div>
        <div class="buttons2">
          <div class="{{key.class}}" *ngFor="let key of keys2" (click)="calculate(key.key)">{{key.key}}</div>
        </div>
      </div>
    </div>
  </section>
</article>
